
.control{
    margin-top: 10px;
    margin-bottom: 10px;
}

.week-header,.week-cell, .month-cell{
    text-align: center;
    border: 1px solid #5ea5dd;
}

.previous-cell,.next-cell{
    background: rgba(202, 198, 194, 0.60);
}
