.control-left{
    float: left;
    margin:10px 0;
}

.control-middle{
    display: table;
    margin:10px auto;
}

.control-right{
    float: right;
    margin:10px 0;
}

.month-title{
    float: left;
    display: inline-block;
    padding: 6px 12px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
}

.month-header-cell, .month-body-cell{
    text-align: center;
    border: 1px solid #5ea5dd !important;
}

.previous-month-cell,
.next-month-cell{
    background: rgba(232, 227, 223, 0.60);
}

.current-cell{
    background: rgba(94, 165, 221, 0.60);
}
